#Ignore extensionless tests/check_* so can ignore the compiled tests
#This pair of rules is first so that the "do not ignore anything with extension"
#is overridden by more specific ignore rules later
/tests/check_*
!/tests/check_*.*
*~
*callgrind*
*.pyc
.svn*
.coverage
htmlcov*
html*
.pc
/aclocal.m4
/m4/lib*.m4
/m4/lt*.m4
*Makefile.in
*.guess
*.komodoproject
config.h*
config.log
config.status
config.sub
configure.scan
docs/Doxyfile
docs/Makefile
install-sh
libLanlGeoMag/.deps/
*.o
*.lo
*.png
/Makefile
Tools/Makefile
tests/Makefile
libLanlGeoMag/Makefile
libLanlGeoMag/Lgm/Makefile
libLanlGeoMag/EopData/Makefile
/build-aux/
/autom4te.cache/
configure
stamp-h1
libtool
INSTALL
Python/Makefile
*.dSYM
.DS_Store
/Python/Lgm_Wrap.py
/Python/Lgm_Wrap_gen.py
/Python/ctypesgen.log
/Tools/LastClosedDriftShell
/Tools/MagEphemFromSpiceKernel
/Tools/MagEphemFromTLE
/docs/
/lanlgeomag.spec
/COPYING
.deps/
.libs/
/libLanlGeoMag/EopData/GetEopFiles
/libLanlGeoMag/lgm.pc
/libLanlGeoMag/libLanlGeoMag.la
/INSTALL
/tests/check_*.got
/tests/check_*.log
/tests/check_*.trs
/tests/test-suite.log
