*~
*callgrind*
*.pyc
.svn*
.coverage
htmlcov*
html*
.pc
*.m4
*Makefile.in
*.guess
*.komodoproject
config.h*
config.log
config.status
config.sub
docs/Doxyfile
docs/Makefile
install-sh
libLanlGeoMag/.deps/
*.o
*.lo
*.png
/Makefile
Tools/Makefile
tests/Makefile
